# Project Scope

This project is about looking at the likeliness of having postal transactions or agency transactions under 15 minutes waiting time.

From such insights, management can decide to reallocate resources, re-train staff before converting some of the outlets or closing it down.

In [1]:
#File saved at C:\Users\m.azham\Desktop\EDS\Final Project

import pandas as pd
retail=pd.read_excel('C:/Users/m.azham/Desktop/EDS/Final Project/Retail Set 01.xlsx')
retail.columns=['Month','FY Month','FY','Profit Center','Outlet','State','Region','Total Txn','Agency Txn','Postal Txn', 'Agency Txn(%)','Postal Txn(%)','Total QMS','<15min','15-30min','30min-1hr','>1hr', '<15min(%)','15-30min(%)','30min-1hr(%)','>1hr(%)']
retail.head(5)

,Month,FY Month,FY,Profit Center,Outlet,State,Region,Total Txn,Agency Txn,Postal Txn,...,Postal Txn(%),Total QMS,<15min,15-30min,30min-1hr,>1hr,<15min(%),15-30min(%),30min-1hr(%),>1hr(%)
0,2015-04-30,1,FY 2016,10141002,PO ARAU,Perlis,Northern,13093,7658,5435,...,0.415107,5964,1104,1433,2329,1098,0.185111,0.240275,0.390510,0.184105
1,2015-04-30,1,FY 2016,10141003,PO JLN JUBLI PERAK,Perlis,Northern,16427,9980,6447,...,0.392464,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
2,2015-04-30,1,FY 2016,10141004,PO KAKI BUKIT,Perlis,Northern,3110,2870,240,...,0.077170,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000
3,2015-04-30,1,FY 2016,10141005,PO KANGAR,Perlis,Northern,46088,20908,25180,...,0.546346,6988,4681,1222,726,359,0.669863,0.174871,0.103892,0.051374
4,2015-04-30,1,FY 2016,10141006,PO KUALA PERLIS,Perlis,Northern,7983,6574,1409,...,0.176500,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000

In [2]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23796 entries, 0 to 23795
Data columns (total 21 columns):
Month            23796 non-null datetime64[ns]
FY Month         23796 non-null int64
FY               23796 non-null object
Profit Center    23796 non-null int64
Outlet           23796 non-null object
State            23796 non-null object
Region           23796 non-null object
Total Txn        23796 non-null int64
Agency Txn       23796 non-null int64
Postal Txn       23796 non-null int64
Agency Txn(%)    23796 non-null float64
Postal Txn(%)    23796 non-null float64
Total QMS        23796 non-null int64
<15min           23796 non-null int64
15-30min         23796 non-null int64
30min-1hr        23796 non-null int64
>1hr             23796 non-null int64
<15min(%)        23796 non-null float64
15-30min(%)      23796 non-null float64
30min-1hr(%)     23796 non-null float64
>1hr(%)          23796 non-null float64
dtypes: datetime64[ns](1), float64(6), int64(10), object(4)
memory usage: 3.8+ MB

In [3]:
retail.isnull().any()

Month            False
FY Month         False
FY               False
Profit Center    False
Outlet           False
State            False
Region           False
Total Txn        False
Agency Txn       False
Postal Txn       False
Agency Txn(%)    False
Postal Txn(%)    False
Total QMS        False
<15min           False
15-30min         False
30min-1hr        False
>1hr             False
<15min(%)        False
15-30min(%)      False
30min-1hr(%)     False
>1hr(%)          False
dtype: bool

In [4]:
long = retail.sort_values('<15min(%)', ascending=False)
long.head(10)

,Month,FY Month,FY,Profit Center,Outlet,State,Region,Total Txn,Agency Txn,Postal Txn,...,Postal Txn(%),Total QMS,<15min,15-30min,30min-1hr,>1hr,<15min(%),15-30min(%),30min-1hr(%),>1hr(%)
17352,2016-09-30,6,FY 2017,10841004,PO ASAHAN,Melaka,Southern,0,0,0,...,0.000000,10,10,0,0,0,1.0,0.0,0.0,0.0
10474,2016-02-29,11,FY 2016,10941035,PO PARIT RAJA,Johor,Southern,16621,8080,8541,...,0.513868,14,14,0,0,0,1.0,0.0,0.0,0.0
18300,2016-10-31,7,FY 2017,10741003,PO BAHAU,Negeri Sembilan,Central,24904,12213,12691,...,0.509597,3,3,0,0,0,1.0,0.0,0.0,0.0
13282,2016-05-31,2,FY 2017,10641038,PO PWTC,Kuala Lumpur,Central,11829,3708,8121,...,0.686533,62,62,0,0,0,1.0,0.0,0.0,0.0
12289,2016-04-30,1,FY 2017,10641038,PO PWTC,Kuala Lumpur,Central,10219,3638,6581,...,0.643996,8,8,0,0,0,1.0,0.0,0.0,0.0
12283,2016-04-30,1,FY 2017,10641032,PO JL S SALAHUD,Kuala Lumpur,Central,9771,4677,5094,...,0.521339,4,4,0,0,0,1.0,0.0,0.0,0.0
18344,2016-10-31,7,FY 2017,10841003,PO ALOR GAJAH,Melaka,Southern,22004,9139,12865,...,0.584666,13,13,0,0,0,1.0,0.0,0.0,0.0
5739,2015-09-30,6,FY 2016,11241012,PO PASIR PUTEH,Kelantan,East Coast,15433,8227,7206,...,0.466922,1,1,0,0,0,1.0,0.0,0.0,0.0
6094,2015-10-31,7,FY 2016,10441027,PO PENGKALAN HULU,Perak,Northern,11195,7307,3888,...,0.347298,17,17,0,0,0,1.0,0.0,0.0,0.0
22818,2017-03-31,12,FY 2017,10241005,PO BEDONG,Kedah,Northern,8262,4550,3712,...,0.449286,29,29,0,0,0,1.0,0.0,0.0,0.0

In [23]:
#Encode
from sklearn import preprocessing

df = pd.DataFrame(retail)
enc = preprocessing.LabelEncoder()

X_2 = df.apply(enc.fit_transform)
X_2.head()

,Month,FY Month,FY,Profit Center,Outlet,State,Region,Total Txn,Agency Txn,Postal Txn,...,Postal Txn(%),Total QMS,<15min,15-30min,30min-1hr,>1hr,<15min(%),15-30min(%),30min-1hr(%),>1hr(%)
0,0,0,0,0,143,8,3,8147,6422,4209,...,10580,2350,371,1331,2167,1003,161,6526,9020,7239
1,0,0,0,1,355,8,3,9440,8151,4723,...,10024,0,0,0,0,0,0,0,0,0
2,0,0,0,2,383,8,3,2594,2559,239,...,2407,0,0,0,0,0,0,0,0,0
3,0,0,0,3,389,8,3,13832,11293,9151,...,14018,3146,3129,1120,723,358,5426,3112,3721,5137
4,0,0,0,4,454,8,3,5558,5568,1332,...,4479,0,0,0,0,0,0,0,0,0

In [24]:
X = retail.drop(['<15min(%)'], axis=1).values
y = retail['<15min(%)']
print(X.shape, y.shape)

(23796, 20) (23796,)

In [25]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)


from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
X_train[0:5]

array([[Timestamp('2016-12-31 00:00:00'), 9, 'FY 2017', 10941081, 'PO UTM',
        'Johor', 'Southern', 6381, 2818, 3563, 0.4416235699733584,
        0.5583764300266416, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0],
       [Timestamp('2016-11-30 00:00:00'), 8, 'FY 2017', 10641066,
        'PO U I A', 'Kuala Lumpur', 'Central', 11736, 4909, 6827,
        0.4182856169052488, 0.5817143830947512, 6692, 4577, 1281, 711, 123,
        0.19142259414225943, 0.10624626419605498, 0.018380155409444113],
       [Timestamp('2015-06-30 00:00:00'), 3, 'FY 2016', 11441025,
        'PO LINGGA', 'Sarawak', 'East Malaysia', 537, 518, 19,
        0.9646182495344506, 0.035381750465549346, 0, 0, 0, 0, 0, 0.0, 0.0,
        0.0],
       [Timestamp('2015-10-31 00:00:00'), 7, 'FY 2016', 10941004,
        'PO AYER HITAM', 'Johor', 'Southern', 16392, 8293, 8099,
        0.5059175207418253, 0.4940824792581747, 0, 0, 0, 0, 0, 0.0, 0.0,
        0.0],
       [Timestamp('2015-04-30 00:00:00'), 1, 'FY 2016', 11048015,
        'POS MINI FELDA 6', 'Pahang', 'East Coast', 1422, 1151, 271,
        0.8094233473980309, 0.19057665260196907, 0, 0, 0, 0, 0, 0.0, 0.0,
        0.0]], dtype=object)

In [28]:
clf = LogisticRegression(C=1).fit(X_train, y_train)
print('Retail')
print('Accuracy of Logistic regression classifier on training set: {:.2f}'
     .format(clf.score(X_train, y_train)))
print('Accuracy of Logistic regression classifier on test set: {:.2f}'
     .format(clf.score(X_test, y_test)))

ValueError: could not convert string to float: 'East Coast'

In [ ]:
#Something wrong with the data set. Need to go through it more detail

In [43]:
SarawakTxn=pd.read_excel('C:/Users/m.azham/Desktop/EDS/Final Project/Sarawak txn.xlsx',skiprows=2)
SarawakTxn.head()

          Region    State       Outlet  Agency Txn  Postal Txn Financial Year
0  East Malaysia  Sarawak  GPO KUCHING       30479       94217        FY 2018
1  East Malaysia  Sarawak  GPO KUCHING       28096       91486        FY 2018
2  East Malaysia  Sarawak  GPO KUCHING       25636       78123        FY 2018
3  East Malaysia  Sarawak  GPO KUCHING       25115       86933        FY 2018
4  East Malaysia  Sarawak    PO BETONG       25087        1465        FY 2018

In [44]:
SarawakTime=pd.read_excel('C:/Users/m.azham/Desktop/EDS/Final Project/Sarawak time.xlsx',skiprows=2)
SarawakTime.head()

,Region,State,Outlet,00:00 - 00:15,00:15 - 00:30,00:30 - 01:00,>=01:00,Financial Year
0,East Malaysia,Sarawak,GPO KUCHING,4749,1132,730,187,FY 2018
1,East Malaysia,Sarawak,PO KENYALANG PK,4486,2051,2613,641,FY 2018
2,East Malaysia,Sarawak,PO BATU KAWAH,4330,1811,764,66,FY 2018
3,East Malaysia,Sarawak,PO REJANG PARK,4295,1379,373,8,FY 2018
4,East Malaysia,Sarawak,PO BATU KAWAH,4239,1067,645,53,FY 2018

In [48]:
#Choosing only those with Waiting Time
SarawakTime1=SarawakTime.iloc[0:38]
SarawakTime1

,Region,State,Outlet,00:00 - 00:15,00:15 - 00:30,00:30 - 01:00,>=01:00,Financial Year
0,East Malaysia,Sarawak,GPO KUCHING,4749,1132,730,187,FY 2018
1,East Malaysia,Sarawak,PO KENYALANG PK,4486,2051,2613,641,FY 2018
2,East Malaysia,Sarawak,PO BATU KAWAH,4330,1811,764,66,FY 2018
3,East Malaysia,Sarawak,PO REJANG PARK,4295,1379,373,8,FY 2018
4,East Malaysia,Sarawak,PO BATU KAWAH,4239,1067,645,53,FY 2018
5,East Malaysia,Sarawak,GPO KUCHING,3894,102,43,88,FY 2018
6,East Malaysia,Sarawak,PO BATU KAWAH,3894,1062,473,53,FY 2018
7,East Malaysia,Sarawak,PO REJANG PARK,3806,1038,564,31,FY 2018
8,East Malaysia,Sarawak,PO REJANG PARK,3804,1090,686,2,FY 2018
9,East Malaysia,Sarawak,PO BATU KAWAH,3714,1505,780,35,FY 2018
10,East Malaysia,Sarawak,PO SRI AMAN,3713,795,362,0,FY 2018
11,East Malaysia,Sarawak,PO SARIKEI,3597,1367,1241,336,FY 2018
12,East Malaysia,Sarawak,PO REJANG PARK,3462,893,485,58,FY 2018
13,East Malaysia,Sarawak,PO BINTULU,3443,1079,1093,1167,FY 2018
14,East Malaysia,Sarawak,PO SARIKEI,3442,1406,827,300,FY 2018
15,East Malaysia,Sarawak,PO KENYALANG PK,3383,1602,2105,1531,FY 2018
16,East Malaysia,Sarawak,PO REJANG PARK,3334,674,461,49,FY 2018
17,East Malaysia,Sarawak,PO KENYALANG PK,3230,1610,2223,1151,FY 2018
18,East Malaysia,Sarawak,PO BINTULU,3229,927,1700,2354,FY 2018
19,East Malaysia,Sarawak,PO BINTULU,3226,900,1102,665,FY 2018
20,East Malaysia,Sarawak,PO SARIKEI,3138,889,687,462,FY 2018
21,East Malaysia,Sarawak,PO BINTULU,2926,1019,1648,1075,FY 2018
22,East Malaysia,Sarawak,PO BINTULU,2889,975,1079,1257,FY 2018
23,East Malaysia,Sarawak,PO KENYALANG PK,2866,1917,2412,934,FY 2018
24,East Malaysia,Sarawak,PO KENYALANG PK,2863,960,1105,1068,FY 2018
25,East Malaysia,Sarawak,PO MIRI,2658,879,445,260,FY 2018
26,East Malaysia,Sarawak,PO KENYALANG PK,2385,1545,2015,1814,FY 2018
27,East Malaysia,Sarawak,PO REJANG PARK,2325,1052,502,132,FY 2018
28,East Malaysia,Sarawak,PO BINTULU,2199,713,748,919,FY 2018
29,East Malaysia,Sarawak,PO MIRI,2012,580,628,385,FY 2018
30,East Malaysia,Sarawak,PO MIRI,1744,221,214,605,FY 2018
31,East Malaysia,Sarawak,PO SARIKEI,1516,871,857,775,FY 2018
32,East Malaysia,Sarawak,PO SRI AMAN,1360,136,2,0,FY 2018
33,East Malaysia,Sarawak,PO SARIKEI,1331,701,729,344,FY 2018
34,East Malaysia,Sarawak,PO MIRI,1129,341,285,89,FY 2018
35,East Malaysia,Sarawak,PO MIRI,754,273,164,45,FY 2018
36,East Malaysia,Sarawak,PO MIRI,572,181,173,550,FY 2018
37,East Malaysia,Sarawak,PO BATU KAWAH,122,62,53,27,FY 2018

In [ ]:
Sarawak=pd.merge(ScimEn1, Energy,how='inner',left_on='Country',right_on='Country')
df1